<!DOCTYPE html>
<html>
  <head>
    <title>Do you want to know your IP?</title>
  </head>
  <body>
    <div>
      <h1>Your IP is:</h1>
    </div>
    <div>
      <h3>{{ message }}</h3>
    </div>
  </body>
</html>
